<!DOCTYPE html>

<html>
    <head>
        <title>About Me</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
        <link rel="stylesheet" href="/views/styles.css">

    </head>
    
    <body style="resize: none">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <a class="navbar-brand"><img src="plg.ico" style="height: 50px; width: 50px;"></a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            
              <li class="nav-item">
              <a class="nav-link" href="../resources/img/resume.pdf">Resume</a>
            </li>
          </ul>
        </nav>
        <br>
        <div style="margin: 50px; margin-top: 10px; margin-bottom: 10px; max-width: 2200px;">
            <p class="h1" style="text-align: right; font-size: 70px; margin-bottom: 10px;">Brian Tan</p>
            <div>
            
            <table>
              <tr style="margin-bottom: 50px; max-height: 950px; overflow: hidden;">
                <td style=" max-height: 950px;display: flex; ">
                  <div id="am" style="max-height: 950px; display: flex;">
                  <div style=" max-width: 537px; max-height: 100%; padding-right: 25px;" id="am2">
                    <h1 style="text-align: left; margin: 50px; margin-left: 0px; margin-top: 0px;">About me</h1>
                      <br>
                    <span style="margin: 50px; margin-left: 0px; text-overflow: ellipsis;" id="am_text">My name is Brian Tan and I am an 18-year-old first year PhD student in Computer Science at the <a href= "https://www.colostate.edu/">Colorado State University</a>. I am advised by <a href="https://www.ewandavies.org/">Professor Ewan Davies</a>. My research interests are in using statisical physics methods in graph theory and combinatorics.  
                      <br>
                      <br>
                      I graduated with my two Bachelor of Arts degree in Computer Science and Mathematics at the University of Colorado Boulder at 17 years old. I also have an Associate of Science degree in Computer Science from Front Range Community College at 16 years old. 
                        
                        <ul>
    
    
    </ul>
  </span>    
                </div>
                </div>
                </td>
                <td style="text-align: right;">
                  <div style="display: inline-block; max-width: 1611px; max-height: 950px; margin-left: 50px;  background-color: black;">
                    <img src = "/views/image009.jpg" style="width: 100%; max-height: 950px;">
                  </div>
                </td>
              </tr>
            </table>
              
              
            </div>

            <br>
            <br>
            <div class="slider" id="slider_id" >
              <div class="slide-track">
                <div class="slide"><img src="img/1.jpg" alt="" ></div>
                <div class="slide"><img src="img/2.jpg" alt="" ></div>
                <div class="slide"><img src="img/3.jpg" alt="" ></div>
                <div class="slide"><img src="img/4.jpg" alt="" ></div>
                <div class="slide"><img src="img/5.jpg" alt="" ></div>
                <div class="slide"><img src="img/6.jpg" alt="" ></div>
                <div class="slide"><img src="img/7.jpg" alt="" ></div>

                <div class="slide"><img src="img/1.jpg" alt="" ></div>
                <div class="slide"><img src="img/2.jpg" alt="" ></div>
                <div class="slide"><img src="img/3.jpg" alt="" ></div>
                <div class="slide"><img src="img/4.jpg" alt="" ></div>
                <div class="slide"><img src="img/5.jpg" alt="" ></div>
                <div class="slide"><img src="img/6.jpg" alt="" ></div>
                <div class="slide"><img src="img/7.jpg" alt="" ></div>
                </div>
            </div>

            <br>
            <br>
            <div style="padding-left: 25px; background-color: white; border: 2px solid black;">
              <h1 style="padding: 50px;">Projects</h1>
              <table style="width: 100%;">
                <tr style="background: white; height: 1px;">
                  <td style="max-width: 800px; text-align:  center;">
                    <div class="card" onclick="openCard(1)" style="max-width: 801px; display: inline-block; border-radius: 15px 15px 0px 0px;">
                      <img src="bci_img.png" alt="Avatar" style="max-width:800px; max-height: 600px; width: 100%;border-radius: 15px 15px 0px 0px;">
                      <div class="container" style="background-color: black; max-width:900px; max-height: 250px; height: auto;border-radius: 0 0 0 0;">
                        <h4 style="padding-top: 10px; color: white;"><b>Gaze Controlled Keyboard Inspired By SSVEP Methods </b></h4> 
                        <p style="color: white; "><b>Brian Tan, Septia Rani</b></p>
                      </div>
                    </div>
                  </td>
                  
                </tr>

                <tr>
                  <td>
                      &nbsp;
                      <!--you just need a space in a row-->
                  </td>
              </tr>
              
              <tr>
                <td style="max-width: 800px; text-align: center;">
                  <div class="card" onclick="openCard(2)" style="max-width: 801px; display: inline-block; border-radius: 15px 15px 0px 0px;">
                    <img src="POSTER_793_FINAL-1.png" alt="Avatar" style="max-width:800px; max-height: 600px; width: 100%; border-radius: 15px 15px 0px 0px;">
                    <div class="container" style="background-color: black; max-width:800px; max-height: 250px; height: auto; border-radius: 0 0 0 0;">
                      <h4 style="padding-top: 10px; color: white;"><b>Using Cluster Expansion for Approximate Counting on the Hard-Core Model in Sub-Quadratic Time </b></h4> 
                      <p style="color: white;"><b>Brian Tan, Ewan Davies</b></p>
                    </div>
                  </div>
                </td>
              </tr>
                
              </table>
              <br>
              <br>
            </div>

            <br>
            <br>
            <div style="padding-left: 25px; background-color: white; text-align: left;" id="award_div">
              <h1 style="padding-bottom: 20px; text-align: left;">Awards</h1>
              
              <div style="border-radius: 25px; border: 2px solid black;padding: 20px; max-width: 1200px;height: auto;" class="award">
              <h2 style="text-align: left;">2023 Outstanding Student Award (Bachelor of Arts)</h2>
              <h3 style="text-align: left;">Computer Science Department, CEAS, University of Colorado, Boulder</h3>
                <p style="font-size: large;text-align: left;">Awarded the Outstanding Student Award of the Bachelor of Arts program in Computer Science.</p>
              </div>

              <br>
              <br>

              <div style="border-radius: 25px; border: 2px solid black;padding: 20px;max-width: 1200px;height: auto;" class="award">
                <h2 style="text-align: left;">2023 Discovery Learning Award</h2>
                <h3 style="text-align: left;">Computer Science Department, CEAS, University of Colorado, Boulder</h3>
                  <p style="font-size: large;text-align: left;">Awarded the Discovery Learning Award in Computer Science.</p>
                </div>

                <br>
                <br>
              
              <div style="border-radius: 25px; border: 2px solid black;padding: 20px;max-width: 1200px;height: auto" class="award">
                <h2 style="text-align: left;">2023 CEAS Graduating Student Academic Engagement Award: Nominated</h2>
                <h3 style="text-align: left;">College of Engineering and Applied Science, University of Colorado, Boulder</h3>
                  <p style="font-size: large;text-align: left;">Nominated for the CEAS Graduating Student Award for Academic Engagement</p>
                </div>

                <br>
              <br>
              
              <div style="border-radius: 25px; border: 2px solid black;padding: 20px;max-width: 1200px;height: auto;" class="award">
                <h2 style="text-align: left;">2023 CEAS Graduating Student Research Award: Nominated</h2>
                <h3 style="text-align: left;">College of Engineering and Applied Science, University of Colorado, Boulder</h3>
                  <p style="font-size: large;text-align: left;">Nominated for the CEAS Graduating Student Award for Research</p>
                </div>

                <br>
                <br>
              
              <div style="border-radius: 25px; border: 2px solid black;padding: 20px;max-width: 1200px;height: auto;" class="award">
                <h2 style="text-align: left;">2023 CEAS Graduating Student Community Impact Award: Nominated</h2>
                <h3 style="text-align: left;">College of Engineering and Applied Science, University of Colorado, Boulder</h3>
                  <p style="font-size: large;text-align: left;">Nominated for the CEAS Graduating Student Award for Community Impact</p>
                </div>

                <br>
              <br>
              
              <div style="border-radius: 25px; border: 2px solid black;padding: 20px;max-width: 1200px;height: auto;" class="award">
                <h2 style="text-align: left;">2021 World Mathematical Invitational Preliminary Round: Bronze </h2>
                <h3 style="text-align: left;">World Mathematical Invitational</h3>
                  <p style="font-size: large;text-align: left;">Achieved Bronze on the preliminary round of the World Mathematical Invitationals Competition. </p>
                </div>

                <br>
              <br>
              
              <div style="border-radius: 25px; border: 2px solid black;padding: 20px;max-width: 1200px;height: auto;" class="award" id="award">
                <h2 style="text-align: left;">2021 IGCSE Distinction Honor</h2>
                <h3 style="text-align: left;">Cambridge Assessment International Education</h3>
                  <p style="font-size: large;text-align: left;">Achieved five A stars and two A out of all the seven subjects for IGCSE. </p>
                </div>
                
            

            
            </div>
            
            <br>
            <br>
            <div style="padding-left: 25px; background-color: white;">
              <h1 style="padding-bottom: 20px;">Publications</h1>
              <p>Nothing yet...</p>
            </div>

            
            
        </div>
                <center>
                    <p style="padding: 20px">2023 Brian Tan @ CSU Computer Science</p>
                </center>


                <div class="overlay"></div>

                <div class="card-container" id="card1" style="background-color: black;">
                <img src="bci_img.png" alt="Avatar" style="width:700px; height: 500px;">
                <div class="container" style="background-color: black; width:700px; height: 200px;" >
                  
                  <h4 style="padding-top: 10px; color: white;"><b>Gaze Controlled Keyboard Inspired By SSVEP Methods </b></h4> 
                  <p style="color: white;"><b>Brian Tan, Septia Rani</b></p>
                  <p style="color: white;">In this project, we aim to create a simple gaze-controlled keyboard that will be accessible to the public. The method is inspired by the Steady-State Visually Evoked Potential (SSVEP). However, it should be noted that the system that we create is not a Brain-Computer Interface (BCI). More info on this project can be found in the following site: <a href="https://github.com/csu-hci-projects/SP24-Gaze-Controlled-Keyboard-Inspired-By-SSVEP-Methods">Link</a></p>
                  
                </div>
                
                  <button class="button" onclick="closeCard(1)" style="margin: 20px;">Close</button>
                
                </div>
                
                
              </div>

              <div class="card-container" id="card2" style="background-color: black;">
                <img src="POSTER_793_FINAL-1.png" alt="Avatar" style="width:700px; height: 500px;">
                <div class="container" style="background-color: black; width:700px; height: 260px;">
                  <h4 style="padding-top: 10px; color: white;"><b>Using Cluster Expansion for Approximate Counting on the Hard-Core Model in Sub-Quadratic Time </b></h4> 
                  <p style="color: white; "><b>Brian Tan, Ewan Davies</b></p>
                  <p style="color: white;">We propose a new randomized algorithm to approximate the Partition Function on the Hard-Core Model. In 2006, Weitz <a href="https://dl.acm.org/doi/10.1145/1132516.1132538">[1]</a> introduced a deterministic algorithm to approximate in time \(O(n^{1+\frac{1}{k}})\). In 2023, Anand et al <a href="https://arxiv.org/abs/2306.14867">[2]</a> modified Weitz' algorithm by introducing the Recursive Marginal Sampler to approximate in time \(O(n^{1+\frac{1}{2k}})\). We propose that we can get the same results as Anand et al <a href="https://arxiv.org/abs/2306.14867">[2]</a> Algorithm by replacing the Recursive Marginal Sampler with a Cluster Expansion Sampler. </p>
                </div>
                <button class="button" onclick="closeCard(2)" style="margin: 20px;">Close</button>
              </div>

                <script>
                  function openCard(i) {
                    var cur_id = 'card' + String(i)
                      document.getElementById(cur_id).style.display = 'block';
                      document.querySelector('.overlay').style.display = 'block';
                      document.body.style.overflow = 'hidden'; // Disable scrolling on the background
                  }
              
                  function closeCard(i) {
                    var cur_id = 'card' + String(i)
                    document.getElementById(cur_id).style.display = 'none';
                      document.querySelector('.overlay').style.display = 'none';
                      document.body.style.overflow = ''; // Enable scrolling on the background
                  }

                  const scrollableDiv = document.getElementById('slider_id');

                  // Add a scroll event listener to the window
                  window.addEventListener('scroll', function() {
                    // Check if the scrollable div is in view
                    if (isElementInViewport(scrollableDiv)) {
                      // Change background color to black if in view
                      document.body.style.backgroundColor = 'black';
                    } else {
                      // Change background color to white if out of view
                      document.body.style.backgroundColor = 'white';
                    }
                  });

                  // Function to check if an element is in the viewport
                  function isElementInViewport(el) {
                    const rect = el.getBoundingClientRect();
                    return (
                      rect.top >= 0 &&
                      rect.left >= 0 &&
                      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
                    );
                  }

                  window.addEventListener('resize', function() {
                    var containerWidth = document.getElementById('am').offsetWidth;
                    var box = document.getElementById('am');
                    var inbox = document.getElementById('am2');
                    // Set the height of the box to be equal to the width of the container
                    box.style.height = (537/950)*containerWidth + 'px';
                    var text = document.getElementById('am_text');
                    var initialCellWidth = 537; // Example initial width for the cell
                    var initialFontSize = 950; // Example initial font size
                    var fontSize = initialFontSize * (cellWidth / initialCellWidth);
                    text.style.fontSize = fontSize + 'px';
                    
                  });

                  // Call the event listener initially to set the height based on initial width
                  window.dispatchEvent(new Event('resize'));
              </script>
              <script src="script.js"></script>
    </body>
</html>